<section class="todo_section">


<div class="container">
<table class="table table-hover">
<p class="title"><%= title%></p>
<p><%= todos.count%>
<thead>
  <tr>
    <th>Task</th>
    <th>Date</th>
    <th>Completed</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
<% todos.all.each do |todo|%>
<tr>
   <td><%=todo.task%></td>
   <td><%= todo.due_date%></td>
   
   <% if todo.completed == false || todo.completed == 'null' %>
  <td><a href="/update/<%= todo.id%>"><button style="background-color : blue , color : white">Mark as complete</button></a></td>
   <% else %>
  <td>Completed</td>
    <% end %>
<td><button onclick="Destroy(<%=todo.id%>)" style="background-color : blue , color : white">Delete</button></td>

</tr>
<% end %>
</section>
<script>
 function Destroy(id){
    window.location.href='delete/'+id
 }
</script>
